body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    /* background: url(pokedex_image.jpg) no-repeat; */
    background-size: cover;
}

#content-box {
    width: 500px;
    height: auto;
    max-height: 80vh;  /* Limit the height to 80% of the viewport height */
    border: 10px solid lightgrey;
    border-radius: 10px;
    display: flex;

    margin: 0 auto;
    margin-top: 50px;

    background: url("images/pokeball_wallpaper.jpg") no-repeat;
    background-size: cover;
}

#pokemon-info {
    width: 250px;
    height: auto;
    text-align: center;
}

#pokemon-list {
    width: 250px;
    height: auto;
    max-height: 80vh;  /* Match the max-height of #content-box */
    font-size: 20px;
    overflow-y: auto;
}

.pokemon-name {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 8px;
    padding: 5px;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

#pokemon-types {
    margin: 20px;
}

#pokemon-description {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

    margin: 10px;
    padding: 4px;
    font-size: 1rem;
    overflow-y: auto;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}